<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CAD | Public</title>
</head>
<body>
    <center>
        <h2>Welcome</h2>

        <a href="/auth">Login</a>
    </center>
    <script>
        // a function to login in user from a input field
    </script>
</body>
</html>